@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  p {
    @apply text-slate-600;
  }
  small {
    @apply text-slate-500;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 hover:bg-slate-400;
  }
  ::-webkit-scrollbar {
    @apply active:w-[30px];
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar:hover {
  /* width: 82px; */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: rgb(130, 130, 130); */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
}

.div-stroke {
  box-shadow: 8px 8px #fff;
}
.stroke {
  text-shadow: 4px 5px #e9dbdf;
}
.test-pop {
  animation: test-pop 1s both;
}
.anim-mount {
  animation: mount 1s;
}
.anim-unmount {
  animation: unmount 1s forwards;
}
.anim-pop {
  animation: pop 0.3s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
  /* animation-delay: 0.5s; */
}

@keyframes mount {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes unmount {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes pop {
  0% {
    opacity: 0%;
    transform: scale(0);
  }
  /* 60% {
    opacity: 60%;
    transform: scale(1);
  } */
  80% {
    opacity: 80%;
    transform: scale(1.05);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

@keyframes test-pop {
  0% {
    width: 0%;
  }
  100% {
    width: 250px;
  }
}
.test-fade {
  animation: test-fade 1s both;
}
@keyframes test-fade {
  0% {
    width: 250px;
  }
  100% {
    width: 0%;
  }
}

/* div:has(.toggle) #list {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
  background: red;
} */

#menu #list {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  background: #d5d5d5;
}

/* .toggle:checked #list {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
} */
.true #list {
  /* max-height: 500px; */
  animation: a 1s infinited both;
}
.false #list {
  /* max-height: 500px; */
  animation: b 1s infinited both;
}

@keyframes a {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}
@keyframes b {
  0% {
    max-height: 500px;
  }
  100% {
    max-height: 0;
  }
}
